:root {

  /**Button colors**/
  --darkButton1_Hover:#a1a1a1;
  --lightButton1_Hover:#dddddd;
  --darkButton2_Hover:#1c78be;
  --lightButton2_Hover:#58abff;
  --darkButton1_Active:#ffffff;
  --lightButton1_Active:#adfaff;
  --darkButton2_Active:#6bedf7;
  --lightButton2_Active:#1ef0ff;
  --glowActive:#31b9db;

  /**Font colors*/
  --mainFontColor:#474747;
  --DB1font:#474747;
  --LB1font:#707070;
  --DB2font:#FFFFFF;
  --LB2font:#055C91;
}

/*Toggle button*/

#toggle .indicator {
  cursor: pointer;
  transition: 0.5s;
}

#toggle.active .indicator{
  background-color: white;
  transform: scale(0.8) translateX(2.5rem);
}

/*Background*/

body{
  transition: 0.5s;
}

body.active {
  background: rgb(40,33,40);
  background: -moz-radial-gradient(circle, rgba(40,33,40,1) 0%, rgba(53,35,55,1) 34%, rgba(40,33,40,1) 64%, rgba(53,35,55,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(40,33,40,1) 0%, rgba(53,35,55,1) 34%, rgba(40,33,40,1) 64%, rgba(53,35,55,1) 100%);
  background: radial-gradient(circle, rgba(40,33,40,1) 0%, rgba(53,35,55,1) 34%, rgba(40,33,40,1) 64%, rgba(53,35,55,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#282128",endColorstr="#352337",GradientType=1);

  }

  /*Hover Buttons*/

  .calculator__button--dark1:hover {
    background-color: var(--darkButton1_Hover);
    color: var(--DB1font);
    transition: 0.1s;
}

.calculator__button--dark1:active {
  background-color: var(--darkButton1_Active);
  box-shadow: 0 0 1rem 0 var(--glowActive);
  transform: scale(.9);
}

.calculator__button--light1:hover {
    background-color: var(--lightButton1_Hover);
    color: var(--LB1font);
    transition: 0.1s;
}

.calculator__button--light1:active {
  background-color: var(--lightButton1_Active);
  box-shadow: 0 0 1rem 0 var(--glowActive);
  transform: scale(.9);
}

.calculator__button--dark2:hover {
    background-color: var(--darkButton2_Hover);
    color: var(--DB2font);
    transition: 0.1s;
}

.calculator__button--dark2:active {
  background-color: var(--darkButton2_Active);
  box-shadow: 0 0 1rem 0 var(--glowActive);
  transform: scale(.9);
}

.calculator__button--light2:hover {
    background-color: var(--lightButton2_Hover);
    color: var(--darkButton2);
}

.calculator__button--light2:active {
  background-color: var(--lightButton2_Active);
  box-shadow: 0 0 1rem 0 var(--glowActive);
  transform: scale(.9);
}